<div class="flag_meta meta_segment">
	<ul class="meta_details">
		<li class="meta_detail">
			<span>Flag</span>
			<span>{{ flag.flagName }}</span>
		</li>
		<li class="meta_detail">
			<span>Trigger Code</span>
			<span>{{ triggerCode }}</span>
		</li>
		<li class="meta_detail">
			<span>Trigger Claim</span>
			<span>{{ triggerClaim }}</span>
		</li>
		<li class="meta_detail">
			<span>Trigger Spec</span>
			<span>{{ triggerSpec }}</span>
		</li>
		<li class="meta_detail">
			<span>Source</span>
			<span>{{ source }}</span>
		</li>																	
	</ul>
	<ul class="meta_details">
		<li class="meta_detail">
			<span>Trig Mod</span>
			<span>{{ trigMod }}</span>
		</li>
		<li class="meta_detail">
			<span>Trig Line</span>
			<span>{{ trigLine }}</span>
		</li>
		<li class="meta_detail">
			<span>Trig Prov</span>
			<span>{{ trigProvider }}</span>
		</li>
		<li class="meta_detail">
			<span>Trig DX</span>
			<span>{{ trigDx }}</span>
		</li>
		<li class="meta_detail">
			<span>Trig Adj</span>
			<span>{{ trigAdj }}</span>
		</li>																
	</ul>	
</div>