<div class="line_meta meta_segment">
	<ul class="meta_details">
		<li class="meta_detail">
			<span>POS</span>
			<span>{{ pos }}</span>
		</li>
		<li class="meta_detail">
			<span>Spec</span>
			<span>{{ spec }}</span>
		</li>
		<li class="meta_detail">
			<span>Rev</span>
			<span>{{ rev }}</span>
		</li>
		<li class="meta_detail">
			<span>Proc</span>
			<span>{{ proc }}</span>
		</li>
		<li class="meta_detail">
			<span>Mod</span>
			<span>{{ mod }}</span>
		</li>																	
	</ul>
	<ul class="meta_details">
		<li class="meta_detail">
			<span>Allowed</span>
			<span>{{ allowed }}</span>
		</li>
		<li class="meta_detail">
			<span>Billed</span>
			<span>{{ billed }}</span>
		</li>
		<li class="meta_detail">
			<span>Adj Paid</span>
			<span>{{ adjPaid }}</span>
		</li>
		<li class="meta_detail">
			<span>Sug Paid</span>
			<span>{{ sugPaid }}</span>
		</li>
		<li class="meta_detail">
			<span>Savings</span>
			<span>{{ savings }}</span>
		</li>																
	</ul>	
</div>