<div class="provider_info meta_segment">
	<ul class="meta_details">
		<li class="meta_detail">
			<span>Speciality</span>
			<span>{{claimDetail.specialty}}</span>
		</li>
		<li class="meta_detail">
			<span>Provider</span>
			<span>{{claimDetail.provider}}</span>
		</li>
		<li class="meta_detail">
			<span>Group</span>
			<span>{{claimDetail.group}}</span>
		</li>
		<li class="meta_detail">
			<span>Patient Age</span>
			<span>{{claimDetail.patient}}</span>
		</li>
		<li class="meta_detail">
			<span>Patient Gender</span>
			<span>{{claimDetail.gender}}</span>
		</li>																
	</ul>
</div>