<div id="nucleus">
	<div id="header" class="full_section black_gradient full_box">
		<div id="logo"></div>
		<div id="client_block">{{current_client}}</div>
		<div id="user_block">Welcome {{current_user}}</div>
	</div>
	<div id="content" class="full_section">
		<div id="master_tool_bar" class="full_section silver_gradient full_box">
			<ul id="master_tools" class="tool_segment">
				<li class="button">Claims</li>
				<li class="button">Appeals</li>
				<li class="button">Logics</li>
			</ul>
			<ul id="view_tools" class="tool_segment">
				<li class="button">L</li>
				<li class="button">F</li>
			</ul>
			<ul id="sub_tools" class="tool_segment">
				<li class="button">A</li>
				<li class="button">D</li>
				<li class="button">N</li>
			</ul>
			<ul id="settings_tools" class="tool_segment">
				<li class="button">Settings</li>
				<li class="button red_button">Logout</li>
			</ul>						
		</div>
		<div id="stage" class="full_section">
			<div id="sidebar" class="full_box">
				<div id="search_top" class="full_box search_panel_segment">
					<div class="select_wrap">
						<label class="search_label ">Quick Search</label>
						<select class="select quick_select" name="quick_select">
							<option value="selected">Quick Search Claims</option>
							<option value="Value 1">Option 1</option>
				      <option value="Value 2">Option 2</option>
				      <option value="Value 3">Option 3</option>
						</select>					
					</div>
				</div>
				<div id="results">
					<ul>
						{{#times 4 }}
							<li class="sidebar_item full_box">
								<span>12345678-{{this}}</span>
								<ul class="actions">
									<li class="icon small_icon documents"></li>
									<li class="icon small_icon lock"></li>
								</ul>
							</li>
						{{/times}}
						<li class="sidebar_item full_box active">
							<span>12345678-5</span>
							<ul class="actions">
								<li class="icon small_icon documents"></li>
							</ul>
						</li>
						{{#times 6 }}
							<li class="sidebar_item full_box">
								<span>12345678-1{{this}}</span>
								<ul class="actions">
									<li class="icon small_icon documents"></li>
									<li class="icon small_icon lock"></li>
								</ul>
							</li>
						{{/times}}					
					</ul>
				</div>
			</div>
			<div id="data_views">
				<div id="meta_data" class="full_box">
					<div id="notification" class="error">This is a dynamic strip for notifications - displays and hides</div>
					<div class="content_heading silver_gradient">Claim Details <span class="heading_details">Claim Sequence 12345678-5</span></div>
					<div class="detail_view">
						<div id="claim_details">
							<div class="provider_info meta_segment">
								<ul class="meta_details">
									<li class="meta_detail">
										<span>Speciality</span>
										<span>37 - Pediatrician</span>
									</li>
									<li class="meta_detail">
										<span>Provider</span>
										<span>Michelle Hensley</span>
									</li>
									<li class="meta_detail">
										<span>Group</span>
										<span>Some Group</span>
									</li>
									<li class="meta_detail">
										<span>Patient Age</span>
										<span>1 yr</span>
									</li>
									<li class="meta_detail">
										<span>Patient Gender</span>
										<span>M</span>
									</li>																						
								</ul>
							</div>
							<div class="client_info meta_segment">
								<ul class="meta_details">
									<li class="meta_detail">
										<span>HCILIN888</span>
										<span>13153826</span>
									</li>
									<li class="meta_detail">
										<span>Patient Number</span>
										<span>intg-vh-p-9</span>
									</li>
									<li class="meta_detail">
										<span>Test</span>
										<span>intg-vh-p-9</span>
									</li>
									<li class="meta_detail">
										<span>Source</span>
										<span>abcd-efg</span>
									</li>
									<li class="meta_detail">
										<span>Test Admission Hour</span>
										<span>2:30 A.M.</span>
									</li>																						
								</ul>								
							</div>
						</div>
						{{outlet}}
					</div>
					<div class="detail_view">
						<div id="dx_codes" class="data_grid">
							<ul class="data_heading black_gradient">
								<li class="data_cell_head">First Dx Date</li>
								<li class="data_cell_head">Dx Code</li>
							</ul>
							<ul class="data_content">
								<li class="data_cell">03/14/2012</li>
								<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
							</ul>
							<ul class="data_content odd">
								<li class="data_cell">03/14/2012</li>
								<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
							</ul>
							<ul class="data_content">
								<li class="data_cell">03/14/2012</li>
								<li class="data_cell"><a href="">034.0</a>STREPTOCOCCAL SORE THROAT</li>
							</ul>													
						</div>						
					</div>
				</div>
				<div id="data_list_views" class="full_box">
					<div class="view_segment full_box">
						<div class="content_heading silver_gradient">Claim Lines</div>
						<div class="tool_bar full_section full_box">
							<a href="">Dx Codes</a>
						</div>
						<ul class="object_list line_items">
							<li class="line_item full_box">
								<div class="item_actions">
									<span class="icon small_icon quick_delete"></span>
								</div>
								<span class="item_title">CULTURE BACTERIA OTHER</span>
								<span class="item_detail">Units: 2</span>
								<span class="item_detail">DOS: 03/04/2011</span>
								<ul class="flag_items full_box clear">
									<li class="flag_item full_box">
										<div class="item_actions">
											<span class="icon small_icon quick_delete"></span>
										</div>
										<ul class="item_meta">
											<li class="item_title">ROOT CANAL THERAPY, COMPLETE - ANTERIOR TOOTH</li>
											<li class="item_detail nucleus_red bold">UNB</li>
										</ul>
										<ul class="item_details">
											<li class="item_detail">03/12/2013</li>
											<li class="item_detail"><a href="">D0460</a></li>
											<li class="item_detail"><a href="">7415590-0</a></li>
											<li class="item_detail">DD</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="line_item full_box odd">
								<div class="item_actions">
									<span class="icon small_icon quick_delete"></span>
								</div>
								<span class="item_title">CULTURE AEROBIC IDENTIFY</span>
								<span class="item_detail">Units: 1</span>
								<span class="item_detail">DOS: 03/04/2011</span>
								<ul class="flag_items full_box clear">
									<li class="flag_item full_box">
										<div class="item_actions">
											<span class="icon small_icon quick_delete"></span>
										</div>
										<ul class="item_meta">
											<li class="item_title">ROOT CANAL THERAPY, COMPLETE - ANTERIOR TOOTH</li>
											<li class="item_detail nucleus_red bold">UNB</li>
										</ul>
										<ul class="item_details">
											<li class="item_detail">03/12/2013</li>
											<li class="item_detail"><a href="">D0460</a></li>
											<li class="item_detail"><a href="">7415590-0</a></li>
											<li class="item_detail">DD</li>
										</ul>		
									</li>
									<li class="flag_item full_box odd">
										<div class="item_actions">
											<span class="icon small_icon quick_delete"></span>
										</div>
										<ul class="item_meta">
											<li class="item_title">ROOT CANAL THERAPY, COMPLETE - ANTERIOR TOOTH</li>
											<li class="item_detail nucleus_red bold">UNB</li>
										</ul>
										<ul class="item_details">
											<li class="item_detail">03/12/2013</li>
											<li class="item_detail"><a href="">D0460</a></li>
											<li class="item_detail"><a href="">7415590-0</a></li>
											<li class="item_detail">DD</li>
										</ul>			
									</li>																
								</ul>
							</li>
							<li class="line_item full_box">
								<div class="item_actions">
									<span class="icon small_icon quick_delete"></span>
								</div>
								<span class="item_title">CULTURE BACTERIA OTHER</span>
								<span class="item_detail">Units: 2</span>
								<span class="item_detail">DOS: 03/04/2011</span>
							</li>
							<li class="line_item full_box odd">
								<div class="item_actions">
									<span class="icon small_icon quick_delete"></span>
								</div>
								<span class="item_title">CULTURE AEROBIC IDENTIFY</span>
								<span class="item_detail">Units: 1</span>
								<span class="item_detail">DOS: 03/04/2011</span>
								<ul class="flag_items full_box clear">
									<li class="flag_item full_box">
										<div class="item_actions">
											<span class="icon small_icon quick_delete"></span>
										</div>
										<ul class="item_meta">
											<li class="item_title">ROOT CANAL THERAPY, COMPLETE - ANTERIOR TOOTH</li>
											<li class="item_detail nucleus_red bold">UNB</li>
										</ul>
										<ul class="item_details">
											<li class="item_detail">03/12/2013</li>
											<li class="item_detail"><a href="">D0460</a></li>
											<li class="item_detail"><a href="">7415590-0</a></li>
											<li class="item_detail">DD</li>
										</ul>		
									</li>
									<li class="flag_item full_box odd">
										<div class="item_actions">
											<span class="icon small_icon quick_delete"></span>
										</div>
										<ul class="item_meta">
											<li class="item_title">ROOT CANAL THERAPY, COMPLETE - ANTERIOR TOOTH</li>
											<li class="item_detail nucleus_red bold">UNB</li>
										</ul>
										<ul class="item_details">
											<li class="item_detail">03/12/2013</li>
											<li class="item_detail"><a href="">D0460</a></li>
											<li class="item_detail"><a href="">7415590-0</a></li>
											<li class="item_detail">DD</li>
										</ul>		
									</li>																
								</ul>
							</li>													
						</ul>
					</div>
					<div class="view_segment full_box">
						<div id="claim_history">
							<div class="content_heading silver_gradient">Patient Claim History <span class="heading_details">Patient Seq 440740 | Provider Seq 414995</span></div>
							<div class="tool_bar full_section full_box">
								<div class="inline_input_group">
							    <span class="inline_input_set">
							      <input value="all_history" name="patient_claim_history" type="radio" class="all_history">
							      <label>All</label>
							    </span>
							    <span class="inline_input_set">
							      <input value="history_12" name="patient_claim_history" type="radio" class="history_12">
							      <label>12 Months</label>
							    </span>
							    <span class="inline_input_set">
							      <input value="history_60" name="patient_claim_history" type="radio" class="history_60">
							      <label>60 Days</label>
							    </span>
							    <span class="inline_input_set">
							      <input value="history_SD" name="patient_claim_history" type="radio" class="history_SD">
							      <label>Same Day</label>
							    </span>
							    <span class="inline_input_set">
										<input value="history_PH" name="patient_claim_history" type="radio" class="history_PH">
							      <label>Provider History</label>
							    </span>
	  						</div>
							</div>
							<ul class="line_items">
								<li class="line_item no_icon full_box">
									<ul class="item_meta">
										<li class="item_title ">CULTURE BACTERIA OTHER</li>
										<li class="item_detail nucleus_red bold">UNB</li>
									</ul>
									<ul class="item_details">
										<li class="item_detail">03/12/2013</li>
										<li class="item_detail">POS: 81</li>
										<li class="item_detail">Sp: 97</li>
										<li class="item_detail">Dx: 462</li>
									</ul>
								</li>
								<li class="line_item no_icon full_box odd">
									<ul class="item_meta">
										<li class="item_title">CULTURE BACTERIA OTHER</li>
										<li class="item_detail nucleus_red bold">UNB</li>
									</ul>
									<ul class="item_details">
										<li class="item_detail">03/12/2013</li>
										<li class="item_detail">POS: 81</li>
										<li class="item_detail">Sp: 97</li>
										<li class="item_detail">Dx: 462</li>
									</ul>
								</li>							
							</ul>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<div id="footer" class="full_section full_box">Copyright {{copyright_date}}</div>
	<div class="clear"></div>
</div>